
<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://placehold.co/600x230/EEE/31343C.jpg"
            alt=""
            >
    </div>
    <div class="big-card__title">
        <h1><a href="#">Lorem ipsum dolor sit amet</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit repellendus assumenda sequi.</a></p>
    </div>
</div>