<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            id="1"
            photoCover="https://placehold.co/600x230/EEE/31343C.jpg"
            cardTitle="Lorem ipsum dolor sit amet consectetur"
            cardDescription="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, consectetur non quo incidunt odio placeat laboriosam ullam quod ex id sapiente voluptatibus ab dolor molestiae alias quis, nulla fuga assumenda?"
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            id="2"
            photoCover="https://placehold.co/300x200/EEE/31343C.jpg"
            cardTitle="Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora quisquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit."
        ></app-small-card>
        <app-small-card
            id="3"
            photoCover="https://placehold.co/300x200/EEE/31343C.jpg"
            cardTitle="Itaque dolor, eos repudiandae eligendi rerum optio officia sint qui minus distinctio"
        ></app-small-card>
        <app-small-card
            id="4"
            photoCover="https://placehold.co/300x200/EEE/31343C.jpg"
            cardTitle="Repudiandae eligendi rerum optio officia sint qui minus distinctio nostrum quisquam maxime voluptas?"
        ></app-small-card>
    </div>
</div>

